*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--c0);
    color: var(--c7);
    font-family: 'liberation_sansregular', sans-serif;
}

strong,
q{
    color: var(--c5);
}


.test{
    background-color: transparent;

}

section a{
    text-decoration: none;
    color: var(--c7);
}





.noscroll,
.noscroll body {
  overflow: hidden;
}

/* dark mode */

.body--dark{
  background-color: var(--c7);
  color: var(--c0);
}

.body--dark section a{
  color: var(--c0);
}

.body--dark strong, .body--dark
q{
    color: var(--c4);
}