*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--c0);
    color: var(--c7);
    font-family: 'liberation_sansregular';
}

strong,
q{
    color: var(--c5);
}


.test{
    background-color: transparent;

}

section a{
    text-decoration: none;
    color: var(--c7);
}





.noscroll,
.noscroll body {
  overflow: hidden;
}
