.header {
    background-color: var(--c7);
    height: 60px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0; 
    transition: all .3s ease-in-out;
}

.header__navBtn{
    display: flex;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;
    z-index: 16;
}

.MenuBtn{
    position: relative;
}

.header--atTop{
    background-color: transparent;
}

.header--atTop .header__btn--langue, .header--atTop .lune, .header--atTop .soleil, .header--atTop .header__logo{
    visibility: hidden;
}
.header--atTop .MenuBtn__bar, .header--atTop .MenuBtn__bar::after, .header--atTop .MenuBtn__bar::before{
    background-color: var(--c7);
    width: 100%;
    
}





.lune{
    display: flex;
    width: 32px;
    height: auto;
    position: relative;
}

.soleil{
    display: none;
    position: relative;
    width: 32px;
    height: auto;
}

.header__end, .header__start{
    display: flex;
    gap: 23px;  
    align-items: center;
    
}

.header__end{
    margin-right: 11px;
    margin-left: auto;
    height: 100%;
    width: 50%;
    justify-content: right;
    display: flex;
    position: relative;
}

.header__start{
    margin-left: 11px;
    margin-right: auto;
    height: 100%;
    width: 40%;
    position: relative;
}

.header__btn--langue{
    text-decoration: none;
    position: relative;
    color: var(--c7);
    padding: 3px 3px 3px 3px;
    text-align: center;
    display: flex;
    width: 32px;
    height: 24px;
    clip-path: path("M0 1C0 0.447716 0.447715 0 1 0H30.447C31.1743 0 31.6583 0.751704 31.3574 1.4138L27.1881 10.5862C27.0686 10.8491 27.0686 11.1509 27.1881 11.4138L31.3574 20.5862C31.6583 21.2483 31.1743 22 30.447 22H1C0.447715 22 0 21.5523 0 21V1Z");
    background: var(--c0);
    border: none;
}

.logo{
    height: 32px;
    width: auto;
    position: absolute;
    left: 0;
}

.logo--dark{
    height: 32px;
    width: auto;
    visibility: hidden;
    position: absolute;
    left: 0;
}


.header--frise .MenuBtn__bar, .header--frise .MenuBtn__bar::before, .header--frise .MenuBtn__bar::after{ 
    background-color: var(--c0);
}


/* header dark */

.body--dark .header--frise .MenuBtn__bar,.body--dark .header--frise .MenuBtn__bar::before,.body--dark .header--frise .MenuBtn__bar::after{ 
    background-color: var(--c7);
}

.body--dark .header{
    background-color: var(--c0);
}

.body--dark .header__btn--langue{
    color: var(--c0);
    background: var(--c7);
}

.body--dark .logo{
    visibility: hidden;
}

.body--dark .logo--dark{
    visibility: visible;
}

.body--dark .lune{
    display: none;
}

.body--dark .soleil{
    display: flex;
}