.article__txt{
    padding-left: 20px;
    padding-right: 20px;
}


.article__title{
    color: var(--c7);
    font-size: .75rem;
    font-weight: bold;
    display: flex;
    text-transform: uppercase;
    margin-right: 15px;
}

.article__title::before{
    content: "";
    width: 2px;
    display: flex;
    width: 35px;
    height: 3px;
    background-color: var(--c3);
    align-self: center;
    margin-right: 5px;
    
}

.article__img{
    width: min(60%, 375px);
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


.article__img--right{
    width: min(30vw, 100px);
    margin-left: 5px;
    margin-right: 20px;
    float: right;
}

.article__galerie{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    width: 100vw;  
    height: 175px;  
    justify-content: center;
    align-items: center;
    position: relative;
}
.article__img--galerie{
    width: 30vw;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    width: min(30vw, 100px);
}

.article__txt--galerie{
    position: absolute;
    right: 20px;
    left: min(calc(30vw + 20px), 120px);
}

.article__imgContent{
    position: absolute;
    left: 10px;
    display: flex;
    overflow-x: hidden;
    width: min(30vw, 100px);
    height: 100%;
}

.article__adef{
    text-decoration: underline;
}

.article__txtdescrition--galerie{
    position: absolute;
    bottom: 0;
    width: min(30vw, 100px);
    height: 100%;
    padding: 5px;
    color: var(--c6);
    font-size: var(--footer3);
    background-color:rgba(246, 239, 221, .8) ;
    transform: translateX(-100%);
    transition: .3s linear;
    text-align: center;
    white-space: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* dark mode */

.body--dark .article__title{
    color: var(--c1);
}

.body--dark .article__title::before{
    background-color: var(--c5);
}
.body--dark .article__txtdescrition--galerie{
    background-color: rgba(27, 4, 22, .8);
    color: var(--c1);
}
