.menu{
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--c1);
    font-size: var(--menu);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 15;
    transform: translateX(100%);
    transition: all .8s ease;
}

.menu--open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.menu__item:nth-child(1){margin-top: 0;}
.menu__item {
    margin-top: 13%;
}


.menu__link {
    text-decoration: none;
    color: var(--c6);
}

.menu__list{
    position: relative;
    z-index: 16   ;
}

.menu::before{
    content: '';
    background-image: url(/public/icones/Logoclair.png);
    background-size:contain ;
    position: absolute;
    display: flex;
    height: 115vw;
    width: 115vw;
    z-index: 15;
    opacity: .5;
    left: -20px;
}



/*button*/
.MenuBtn__bar::after{
    content: '';
    position: absolute;
    top: 10px;
    width: 33%;
}

.MenuBtn__bar::before{
    content: '';
    position: absolute;
    top: -10px;
    width: 66%;
}
.MenuBtn__bar{
    position: relative;
    width: 100%;
}

.MenuBtn__bar::after, .MenuBtn__bar::before, .MenuBtn__bar{
    font-size: 0;
    background: var(--c0);
    height: 2px;
    border-radius: 1px;
    z-index: 16;
    transition: all .8s ease;
}



/* button menu open */
.MenuBtn--open .MenuBtn__bar,
.MenuBtn--open .MenuBtn__bar::before,
.MenuBtn--open .MenuBtn__bar::after {
  background-color: var(--c7);
  width: 100%; 
  transform: rotate(135deg);
}

.MenuBtn--open .MenuBtn__bar::before,
.MenuBtn--open .MenuBtn__bar::after {
    transform: rotate(90deg);
    top: 0;
}



/* dark mode*/

.body--dark .MenuBtn__bar::after, .body--dark .MenuBtn__bar::before, .body--dark .MenuBtn__bar{
    background: var(--c7); 
}

.body--dark .MenuBtn--open .MenuBtn__bar,
.body--dark .MenuBtn--open .MenuBtn__bar::before,
.body--dark .MenuBtn--open .MenuBtn__bar::after {
  background-color: var(--c0);
}

.body--dark .menu{
    background-color: var(--c6);
}

.body--dark .menu .menu__link{
    color: var(--c1);
}

.body--dark .menu::before{
    background-image: url(/public/icones/Logofoncé.png);
    opacity: .2;
}